/Lab_1_final_Sebastian_Misztal/*.iml
/Lab_1_final_Sebastian_Misztal/.gradle
/Lab_1_final_Sebastian_Misztal/local.properties
/Lab_1_final_Sebastian_Misztal/.idea/caches
/Lab_1_final_Sebastian_Misztal/.idea/libraries
/Lab_1_final_Sebastian_Misztal/.idea/modules.xml
/Lab_1_final_Sebastian_Misztal/.idea/workspace.xml
/Lab_1_final_Sebastian_Misztal/.idea/navEditor.xml
/Lab_1_final_Sebastian_Misztal/.idea/assetWizardSettings.xml
/Lab_1_final_Sebastian_Misztal.DS_Store
/Lab_1_final_Sebastian_Misztal/build
/Lab_1_final_Sebastian_Misztal/captures
/Lab_1_final_Sebastian_Misztal/.externalNativeBuild
/Lab_1_final_Sebastian_Misztal/.cxx
/Lab_1_final_Sebastian_Misztal/local.properties
